<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAKULKTAS KEGURUAN DAN ILMU PENDIDIKAN</title>
</head>
<body>
    <H1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</H1>
    <H2>TERDIRI DARI</H2>
    <P>PENDIDIKAN NONFORMAL
        PENDIDIKAN BAHASA INDONESIA,
        PENDIDIKAN BAHASA INGGRIS,
        PENDIDIKAN BIOLOGI,
        PENDIDIKAN MATEMATIKA,
        PENDIDIKAN GURU SEKOLAH DASAR,
        PENDIDIKAN GURU PAUD,
        BIMBINGAN DAN KONSELING,
        PENDIDIKAN FISIKA,
        PENDIDIKAN ILMU PENGETAHUAN ALAM,
        PENDIDIKAN KIMIA,
        PENDIDIKAN KHUSUS,
        PENDIDIKAN PANCASILA DAN KEWARGANEGARAAN,
        PENDIDIKAN SEJARAH,
        PENDIDIKAN SENI DAN PRTUNJUKAN,
        PENDIDIKAN SOSIOLOGI,
        PENDIDIKAN VOKASIONAL TEKNIK ELEKTRO,
        PENDIDIKAN VOKASIONAL TEKNIK MESIN,

    </P>
</body>
</html>